*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1f1f1f;
}
.calculator {
    border: 1px solid;
    background-color: white;
    padding: 5px;
    max-width: 400px ;
    margin: 10vh auto 0 auto;
    font-size: 800%;
}
.calculator form {
    display: grid;
    grid-template-columns: repeat(4, 65px);
    grid-auto-rows: 65px;
    grid-gap: 5px;
}
.calculator form input{
    border: 2px solid;
    cursor: pointer;

}
.calculator form input:hover{
    box-shadow: 1px 1px 2px #333;
}


#display {

    text-align: right;
    height: 70px;
    line-height: 70px;
    font-size: 20px;
}
.buttons {
    display: grid;
    border-bottom: 1px solid rgb(255, 201, 201);
    border-left: 1px solid rgb(255, 201, 201);
    grid-template-columns: 1fr;
}
.buttons > div {


}

.button{
    border: 0.5px;
}