<html>
    <head>


    </head>
    <body>

        <form class = "grid" action = "/result" method = "POST">
            {% if name %}
            <center>
                <h3 style = "color: blue;">Hello {{name}}, how are you?</h3>
            {% endif %}
            </center>

            <label for = "Name">Enter your name: </label>
            <input type = "result" name="">
            <input type = "text" name="name" id = "name">

            <center><input type = "submit" class = "file_submit"></center>
        </form>
    </body>

</html>